<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.abc</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Psychologist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.cde</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Orthologist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.Anjan</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Pediatritian</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.jpu</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Cardiologist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.klm</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Gynacologist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.jkl</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Cardialogist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">aks</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">GeneralMedicine</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.lmn</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Onthologist</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.pal</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Pediatritian</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr.clash</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Orthologist</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>